<%- include("partials/header.ejs") %>
    <nav>
        <a id="today" href="/">Today</a>
        <a id="work" href="/work">Work</a>
    </nav>
    <main>
        <div class="box" id="heading">
            <h1>Work</h1>
        </div>
        <div class="box">
            <!-- With the for each loop we going through the array and print the text of the tasks -->
            <% tasksDataBase.forEach(element => { %>
                <div>
                    <form class="item" action="/checkedWorkList" method="POST">
                        <input type="checkbox" name="checkbox" value=<%= element._id %> onChange="checkboxChanged(); this.form.submit()"> 
                        <p><%= element.text %></p>
                    </form>
                </div>
            <% }); %>
            <div class="item">
                <form action="/workSubmit" method="POST">
                    <input type="text" class="input-text" name="new-item" placeholder="New Item">
                    <input type="submit" value="+">
                </form>
            </div>
        </div>
        <%- include("partials/footer.ejs") %>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/checkbox.js"></script>
</body>

</html>